.apply .apply_stepper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 50px 0;
}

.apply .apply_stepper .apply_stepper_item_number {
  position: relative;
}

.apply .apply_stepper .apply_stepper_item_text {
  color: #c9c3c3;
  font-size: 16px;
  font-weight: 600;
}

.apply .apply_stepper .apply_stepper_item_number span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #c9c3c3;
  color: #c9c3c3;
  margin: 0 auto 10px;
  font-weight: 600;
}

.apply .apply_stepper .apply_stepper_item_number .apply_stepper_item_number--line {
  width: calc(50%);
  border-bottom: 2px solid #c9c3c3;
  position: absolute;
  top: 50%;
  left: 106%;
  transform: translate(-50%, -50%);
}

.apply .apply_stepper .apply_stepper_item.active .apply_stepper_item_number span {
  border-color: #000000;
  color: #000000;
}

.apply .apply_stepper .apply_stepper_item.active .apply_stepper_item_number--line {
  border-color: #000000;
}

.apply .apply_stepper .apply_stepper_item.active .apply_stepper_item_text {
  color: #000000;
}

.apply .apply_body_form--title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  color: #9c0b0b;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.apply .apply_body {
  text-align: left;
}

.apply .apply_body_form_input {
  margin-top: 0px;
}

.apply .apply_body_form_input .mb-3 {
  margin-bottom: 25px !important;
}

.apply .apply_body_form_input--label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  display: flex;
  align-items: center;
}

.apply .apply_body_form_input--label .apply_body_form_input--required {
  color: #dc3545;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  line-height: 1;
}

.apply .apply_body_form_input .input-group > div {
  width: 100%;
}

@media (min-width: 1400px) {
  .apply .container {
    max-width: 1320px;
  }
}

.apply .custom_tooltip {
  background-color: #eceff1;
  margin-top: 6px;
  padding: 15px;
  position: relative;
  font-size: 14px;
  color: #000000;
}

.apply .custom_tooltip::before {
  position: absolute;
  display: block;
  top: -18px;
  left: 30px;
  content: " ";
  box-sizing: border-box;
  z-index: 2;
  border-color: transparent transparent #eceff1;
  border-style: solid;
  border-width: 10px;
}

.apply .custom_tooltip a {
  color: red;
}

.apply {
  padding-bottom: 80px;
}

.apply .apply_body_info {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 15px;
}

.apply_body_info--title {
  text-align: center;
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 1.2;
}

.apply_body_info--type {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #9c0b0b;
}

.apply_body_info--type img {
  margin-right: 5px;
}

.apply .apply_body_info--listItem {
  list-style: disc;
  padding-left: 25px;
  color: #000000;
  font-size: 14px;
  margin-top: 8px;
}

.apply .apply_body_info--listItem li {
  display: list-item;
  margin-bottom: 8px;
  font-weight: 500;
}

.apply .apply_body_info--listItem li .text-right {
  font-size: 14px;
  font-weight: 700;
}

.apply .apply_body_info--listItem li strong {
  margin-right: 5px;
}

.apply_body_info hr {
  margin: 1rem 0;
}

.apply_body_info_promotionCode {
  background: #fafafa;
  border: 1px dashed #abb5be;
  padding: 5px 20px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.apply_body_info_promotionCode--title {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.apply_body_info_promotionCode_inputGroup {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.apply_body_info_promotionCode_inputGroup input {
  width: 100%;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #c8c6c6;
  height: 40px;
  font-size: 16px;
  color: #000000;
  padding: 6px 12px;
  font-weight: 500;
}

.apply_body_info_promotionCode_inputGroup input:focus {
  box-shadow: 0 0 0 1px #2864ff;
  border-color: #2864ff !important;
}

.apply_body_info_promotionCode_inputGroup button {
  width: 70px;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  flex-shrink: 0;
}

.apply_body_info_fee_item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}

.apply_body_info_fee_item.total {
  font-size: 20px;
  color: #9c0b0b;
}

.apply_body_info_fee_item.convert {
  font-size: 14px;
  font-weight: 400;
  color: #b3b0b0;
}

.apply_body_form_footer {
  text-align: center;
}

.apply_body_form_footer button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .apply + footer {
    margin-bottom: 72px;
  } 
  .apply_body_form_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    z-index: 2;
  }
  .apply_stepper .apply_stepper_item_text {
    display: none;
  }
  .apply .apply_stepper .apply_stepper_item_number .apply_stepper_item_number--line {
    left: calc(100% + 15px);
    width: calc(100% - 20px);
  }
}